body{
    display: block;
    background: url(Starrysky.png);
    background-size:contain;
    font-family: 'Edu QLD Beginner', cursive;
    margin-left: 220px;
    
}
audio{
    float: left;
    
}
h1{
    color:rgb(244, 174, 45);
    font-size: 50px;
}
h3{
    color: rgb(244, 206, 135);
    margin-left: 10px;
}
.sidebar{
    background-color: white;
    position:fixed;
    z-index: 1;
    height: 100%;
    top:0;
    left: 0;
    display: block;
    width: 200px;
    background-color: rgb(236, 232, 225);
    
    
}
.sidebar-item{
    padding:5px 0px 0px 5px;
    font-size: 20px;
    transform: translate(0px,-50px);

}
.Genres{
    margin: 10px;
}

#nav-circle{
    background:black;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin: 15px 0px 10px 0;
    animation: circle 2s infinite;
    
    
}
@keyframes circle{
    0%{transform: translate(0px,-50px);}
    50%{transform: translate(180px,-50px);}
    100%{transform: translate(0px,-50px);}

}

.controls{
    width:260px;
    display:flex;
    background: antiquewhite;
    justify-content:left;
    align-items:center;
    border-radius:7px;
    padding:5px;
    margin: 10px;
}
.timestamp{
    text-align: center;
    font-family:sans-serif ;
}
.btn{
    background: transparent;
    border: 0;
    cursor: pointer;
}
#play{
    color:green;
}
#stop{
    color:red;
}
.btn:focus{
    outline:0;
}
.controls .fa-pause{
    color:rgb(1, 85, 1);
}
.progress:hover{
    cursor:pointer;
    
}
summary{
    cursor:pointer;
}
.music-item{
    color:rgb(187, 122, 2);
    cursor: pointer;
    margin-left: 10px;
}
#sidebar-btn{
    display: flex;
    background-color: grey;
    width: 18px;
    height: 50px;
    border-top-right-radius:13% ;
    border-bottom-right-radius: 13%;
    align-items:center;
    cursor: pointer;
}
